/target/
/volume/
/.idea/
.DS_Store
docker/.DS_Store
docker/fastprotein/.DS_Store
docker/fastprotein/web/.DS_Store
docker/fastprotein/web/static/.DS_Store
docker/softwares/.DS_Store
example/.DS_Store
example/plasmodium/.DS_Store
example/plasmodium/raw/.DS_Store
src/.DS_Store
src/main/.DS_Store
src/main/java/.DS_Store
src/main/java/br/.DS_Store
src/main/java/br/edu/.DS_Store
src/main/java/br/edu/ifsc/.DS_Store
src/main/java/br/edu/ifsc/bioinfo/.DS_Store
src/main/java/br/edu/ifsc/bioinfo/fast/.DS_Store
src/main/java/br/edu/ifsc/bioinfo/fast/protein/.DS_Store
src/main/resources/.DS_Store
