<div class="card">
    <div class="card-header custom-header">
        <b>Last Executions</b>
    </div>
    <div class="card-body p-3 card-scrollable">
        <table id="previousRunsTable" class="table table-striped table-bordered">
            <thead class="header">
            <tr>
                <th>File</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for file in files %}
                <tr>
                    <td>{{ file.name }}</td>
                    <td>{{ file.date }}</td>
                    <td>
                        <div aria-label="Actions">
                            <a href="{{ url_for('runs.static', filename=file.path) }}"
                               title="Download file">
                                <i class="fas fa-download"></i>
                            </a>
                            <a href="#"
                               onclick="confirmRemoval('{{ url_for('remove_file', file=file.path) }}')"
                               title="Remove file">
                                <i class="fas fa-trash"></i>
                            </a>
                            <a href="view?file={{ file.path }}"
                               title="View">
                                <i class="fas fa-eye"></i>
                            </a>
                        </div>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script>
    function confirmRemoval(url) {
        if (confirm('Are you sure you want to remove this file?')) {
            window.location.href = url;
        }
    }
</script>