{% if result_folder %}


    <div class="container mt-5">
        <div class="row">
            <!-- Coluna da Tabela de Sumário -->
            <div class="col-md-4">
                <h5 class="text-center custom-text-color">Summary</h5>
                <table class="table table-striped mt-4">
                    <thead>
                    <tr>
                        <th>Field</th>
                        <th>Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Execution date/time</td>
                        <td>{{ summary_data['date'] }}
                        </td>
                    </tr>
                    <tr>
                        <td>Proteins Size</td>
                        <td>{{ summary_data['proteins_size'] }}</td>
                    </tr>
                    <tr>
                        <td>KDA Mean</td>
                        <td>{{ summary_data['kda_mean'] }} &plusmn; {{ summary_data['kda_sd'] }}</td>
                    </tr>
                    <tr>
                        <td>Isoelectric Point Mean</td>
                        <td>{{ summary_data['iso_mean'] }} &plusmn; {{ summary_data['iso_sd'] }}</td>
                    </tr>
                    <tr>
                        <td>Hydrophobicity Mean</td>
                        <td>{{ summary_data['hydrophobicity_mean'] }}
                            &plusmn; {{ summary_data['hydrophobicity_sd'] }}</td>
                    </tr>
                    <tr>
                        <td>Aromaticity Mean</td>
                        <td>{{ summary_data['aromaticity_mean'] }}
                            &plusmn; {{ summary_data['aromaticity_mean_sd'] }}</td>
                    </tr>
                    <tr>
                        <td><b>Proteins information</b></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Transmembrane (TM)</td>
                        <td>{{ summary_data['total_tm'] }}</td>
                    </tr>
                    <tr>
                        <td>Signal Peptides</td>
                        <td>{{ summary_data['total_sp'] }}</td>
                    </tr>
                    <tr>
                        <td>N-Glycosylations</td>
                        <td>{{ summary_data['total_nglyc'] }}</td>
                    </tr>
                    <tr>
                        <td>ER Retentions</td>
                        <td>{{ summary_data['total_erret'] }}</td>
                    </tr>
                    <tr>
                        <td>GPI Anchors</td>
                        <td>{{ summary_data['total_gpi'] }}</td>
                    </tr>
                    <tr>
                        <td>Membrane Featured Proteins</td>
                        <td>{{ summary_data['total_membrane'] }}</td>
                    </tr>
                    <tr>
                        <td><b>Main Files</b></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <a class="btn btn-primary" href="#" data-bs-toggle="modal" data-bs-target="#logModal" onclick="loadLogFile('{{ result_folder }}/console.log', 'Console')">View Log</a>
                            <a class="btn btn-primary" href="#" data-bs-toggle="modal" data-bs-target="#logModal" onclick="loadLogFile('{{ result_folder }}/summary.txt', 'Summary')">Summary</a>
                            <a class="btn btn-primary" href="#" data-bs-toggle="modal" data-bs-target="#logModal" onclick="loadLogFile('{{ result_folder }}/raw/clean.fasta', 'Input FASTA')">Input FASTA</a>
                            <a class="btn btn-primary" href="#" data-bs-toggle="modal" data-bs-target="#logModal" onclick="loadLogFile('{{ result_folder }}/raw/clean.fasta'), 'Membrane FASTA'">Membrane FASTA</a>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>

            <div class="col-md-4">
                <h5 class="text-center custom-text-color">Molecular Mass (kDa) vs Isoelectric Point (p.H)</h5>
                <div class="text-center">
                    <img style="height: 500px;" src="{{ result_folder }}/image/kda-vs-pi.png" alt="KDA vs PI Graph" class="img-fluid">
                    <br/>
                    <a class="btn btn-primary" href="{{ result_folder }}/image/kda-vs-pi-300dpi.png" target="_blank"
                       title="Download (300dpi)"> Download (300dpi) <i class="fas fa-download"></i>
                    </a>
                </div>
            </div>

            <div class="col-md-4">
                <h5 class="text-center custom-text-color">Subcellular Localization</h5>
                <div class="text-center">
                    <img style="height: 500px;" src="{{ result_folder }}/image/subcell-resume-bar.png" alt="Subcellular Resume Bar Graph" class="img-fluid">
                    <br/>
                    <a class="btn btn-primary" href="{{ result_folder }}/image/subcell-resume-bar-300dpi.png" target="_blank"
                       title="Download (300dpi)"> Download (300dpi) <i class="fas fa-download"></i>
                    </a>
                </div>
            </div>

        </div>
    </div>

    <div class="container mt-5 mb-4 pt-5" id="table-container">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center mt-1 mb-3">

                <div class="d-flex">
                    <div>
                        <button id="downloadCsvBtn" class="btn btn-primary btn-sm mr-5"><i
                                class="fas fa-file-csv text-white"></i> Download CSV
                        </button>
                    </div>
                    <div>
                        <button id="downloadTsvBtn" class="btn btn-success btn-sm mr-5"
                                style=" margin-right: 10px;margin-left: 10px"><i
                                class="fas fa-file-alt text-white"></i> Download TSV
                        </button>
                    </div>
                    <div class="ms">
                        <button id="downloadFastaBtn" class="btn btn-secondary btn-sm mr-2"><i
                                class="fas fa-file-text text-white"></i> Download FASTA
                        </button>
                    </div>
                </div>
                <button id="clearFilters" class="btn btn-warning btn-sm text-white"><i
                        class="fas fa-eraser text-white"></i>
                    Clear Selection
                </button>
                <input type="hidden" id="fileName" value="{{ request.args.get('file') }}"/>
            </div>
            <div class="row">
                <small><i class="fas fa-info-circle"></i>The table is interactive, and the file downloads will be based on the results of the applied filters. </small>
            </div>
        </div>
        <div class="table-responsive">
            {#        <button class="btn-sm btn-custom" id="clearFilters">Clear Filters</button>#}

            <table id="dataTable" class="table table-striped table-bordered display nowrap dataTables_scrollBody">
                <thead class="header custom-header">
                <tr>
                    <th>ID</th>
                    <th>Header</th>
                    <th>Sequence</th>
                    <th>kDa</th>
                    <th>I.P</th>
                    <th>Subcellular Localization</th>
                    <th>TMHMM</th>
                    <th>Phobius TM</th>
                    <th>SignalP5</th>
                    <th>Phobius SP</th>
                    <th>Local Alignment Hit</th>
                    <th>GPI-Anchored</th>
                    <th>Membrane</th>
                    <th>Membrane Evidence</th>
                    <th>N-Glyc</th>
                    <th>Erret</th>
                    <th>PFAM</th>
                    <th>PANTHER</th>
                    <th>Interpro</th>
                    <th>Gene Ontology</th>
                </tr>
                <tr>
                    <th><input class="filter-custom" type="text" id="IdFilter" placeholder="Filter by ID"></th>
                    <th><input class="filter-custom" type="text" id="HeaderFilter" placeholder="Filter by Header"></th>
                    <th><input class="filter-custom" type="text" id="SequenceFilter" placeholder="Filter by Sequence">
                    </th>
                    <th></th>
                    <th></th>
                    <th>
                        <select class="filter-custom" id="SubcellularLocalizationFilter" multiple></select>
                    </th>
                    <th><select class="filter-custom" id="TMFilter" multiple></select></th>
                    <th><select class="filter-custom" id="PhobiusTMFilter" multiple></select></th>
                    <th><select class="filter-custom" id="SignalPFilter" multiple></select></th>
                    <th><select class="filter-custom" id="PhobiusSPFilter" multiple></select></th>
                    <th><input class="filter-custom" type="text" id="AlignmentFilter"
                               placeholder="Filter by Alignment hit">
                    </th>
                    <th><select class="filter-custom" id="GPIFilter" multiple></select></th>
                    <th><select class="filter-custom" id="MembraneFilter" multiple></select></th>
                    <th><input class="filter-custom" type="text" id="MembraneEvidenceFilter"
                               placeholder="Filter by Membrane Evidence"></th>
                    <th><select class="filter-custom" id="NGLYCFilter" multiple></select></th>
                    <th><select class="filter-custom" id="ErretFilter" multiple></select></th>
                    <th><input class="filter-custom" type="text" id="PFAMFilter"
                               placeholder="Filter by Membrane Complete Evidence"></th>
                    <th><input class="filter-custom" type="text" id="PANTHERFilter"
                               placeholder="Filter by Membrane Complete Evidence"></th>
                    <th><input class="filter-custom" type="text" id="IPRIdFilter"
                               placeholder="Filter by Membrane Complete Evidence"></th>
                    <th><input class="filter-custom" type="text" id="GOIdFilter"
                               placeholder="Filter by Membrane Complete Evidence"></th>
                </tr>
                </thead>
                {% include 'view/tbody.html' %}
            </table>
        </div>
        <div>
            <input id="filteredIds" type="hidden"></input>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="logModal" tabindex="-1" aria-labelledby="logModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header custom-header">
                    <h6 class="modal-title" id="logModalLabel">
                        <div id="fileTitle"></div>
                    </h6>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="outputAreaModal"
                         style="width: 100%; height: 50vh; overflow-y: scroll; border: 1px solid #ccc; padding: 10px; box-sizing: border-box; font-family: monospace; white-space: pre-wrap; background-color: black; color: white; border-radius: 5px;">
                        Waiting...
                    </div>

                </div>
                <div class="modal-footer">
                    <a id="downloadFile" target="_blank">Download file</a>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

{% else %}
    <div class="container mt-5 mb-4 pt-5 d-flex justify-content-center align-items-center "
         style="min-height: 20px; color: #63a5d8" id="table-container">
        <b>
            <h0 class="text-lg-center">Select a file from the list of previous jobs to view <i class="fas fa-eye"></i>
                the results.
            </h0>
        </b>
    </div>
{% endif %}
