<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>FastProtein-1.0 - About</title>

    <!-- Styles -->
    {% include 'styles.html' %}

</head>

<body>
<!-- Navbar -->
{% include 'navbar.html' %}
<div class="container" style="padding-top:100px">

    <div class="row justify-content-center align-items-center">
        <div class="d-flex justify-content-center">

            <div class="container text-center">
                <!-- Texto centralizado na primeira linha -->
                <h5 class="custom-header" style=" text-align: center">FastProtein – An automated software for <em>in silico</em> proteomic analysis</h5>
                <div>
                    <img src="static/images/workflow.png" width="700px">

                </div>
                <div>
                    <span class="custom-text-color"><p>FastProtein is developed by</p></span>
                </div>
                <div class="d-flex justify-content-center align-items-center">
                    <div class="">
                        <a href="https://github.com/bioinformatics-ufsc" target="_blank">
                            <img src="static/images/bioufsc.png" alt="Developer 1">
                        </a>
                    </div>
                    <div>
                        <a href="https://www.ifsc.edu.br" target="_blank">
                            <img src="static/images/ifsc.png" alt="Developer 2">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 d-flex justify-content-center  align-items-start">
            <div style="text-align: center; width: 100%;">
                <p class="mb-0" style="font-size: 0.8rem;">
                    <strong>Please cite us:</strong><br>
                    FastProtein – An automated software for in silico proteomic analysis.<br>
                    Renato Simões Moreira, Vilmar Benetti Filho, Guilherme Augusto Maia, Tatiany Aparecida Teixeira
                    Soratto, Eric Kazuo Kawagoe, <br> Bruna Caroline Russi, Luiz Claudio Miletti, Glauber Wagner.<br>
                    PeerJ 12:e18309; <a href="https://doi.org/10.7717/peerj.18309" target="_blank">doi:
                    https://doi.org/10.7717/peerj.18309</a>
                </p>
                <p>
                <p class="mb-0" style="font-size: 0.8rem;">
                    <strong>For questions and suggestions:</strong> <br>

                    <span>Professor Renato Simões Moreira - <a href="mailto:renato.simoes@ifsc.edu.br" target="_blank">renato.simoes@ifsc.edu.br</a></span>
                    <br/>
                    <span>Project issues on GitHub (<a href="https://github.com/bioinformatics-ufsc/FastProtein/issues"
                                                       target="_blank">https://github.com/bioinformatics-ufsc/FastProtein</a>)
                </span>

                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
