<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FastProtein-1.0 - New submission</title>

    <!-- Styles -->
    {% include 'styles.html' %}

  </head>

  <body>    
    <!-- Navbar -->
    {% include 'navbar.html' %}
    <!-- Form -->
    {% include 'index/execute.html' %}

    {% include 'index/executions.html' %}
    <!-- Footer -->
    <!-- Scripts -->
    {% include 'scripts.html' %}
  </body>
</html>
