<script src="static/js/jquery-3.7.1.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/datatables.min.js"></script>
<script src="static/js/popper.min.js"></script>
<script src="static/js/execute.js"></script>
<script src="static/js/executions.js"></script>
<script src="static/js/bootstrap.bundle.min.js"></script>
<!-- Bootstrap CSS -->
<!-- Bootstrap JS Bundle with Popper -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
