<link rel="stylesheet" href="static/css/bootstrap.min.css"/>
<link rel="stylesheet" href="static/css/datatables.min.css"/>
<link rel="stylesheet" href="static/css/all.min.css"/>
<link rel="stylesheet" href="static/css/jquery.dataTables.min.css"/>
<link rel="stylesheet" href="static/css/buttons.dataTables.min.css"/>
<link rel="stylesheet" href="static/css/styles.css"/>
<style>
    body {
        font-size: 0.8rem; /* Ajuste conforme necessário */
    }

    .btn-group-flex {
        display: flex;
        gap: 8px; /* Ajuste o valor conforme necessário */
    }

    .btn,
    .form-control,
    .navbar,
    .card {
        padding: 0.2rem 0.4rem; /* Ajusta o padding dos botões, inputs, navbar, e cards */
        font-size: 0.8rem; /* Ajusta o tamanho da fonte */
    }

    .navbar-brand,
    .navbar-nav .nav-link {
        padding: 0.5rem; /* Ajusta o padding dos itens da navbar */
    }

    /* CSS para fazer o elemento 5 ocupar duas linhas */
    .element-5 {
        height: 100%; /* Ocupa o espaço total da célula */
        display: flex;
        align-items: center; /* Alinha verticalmente no centro */
        justify-content: center; /* Alinha horizontalmente no centro */
        background-color: #f0f0f0; /* Apenas para visualizar melhor */
    }

    .disabled-div {
        pointer-events: none; /* Desativa todos os eventos de ponteiro (cliques, etc.) */
        opacity: 0.5; /* Diminui a opacidade para indicar que está desativado */
    }

    .enabled-div {
        pointer-events: auto; /* Habilita eventos de ponteiro */
        opacity: 1; /* Opacidade normal */
    }

    .custom-header {
        background-color: #63a5d8;
        color: white;
    }

    .card-scrollable {
        height: 150px; /* Define a altura do card */
        overflow-y: auto; /* Adiciona rolagem vertical se necessário */
    }

    .alert-error {
        background-color: #f8d7da;
        color: #721c24;
        border-color: #f5c6cb;
    }
    .equal-height {
        background-color: #f8f9fa;
        padding: 20px;
        border: 1px solid #dee2e6;
    }

</style>